In [1]:
range(101)

range(0, 101)

In [2]:
range(12, 15)

range(12, 15)

In [3]:
for i in range(5):
    print('Jimmy Five Times ' + str(i))

Jimmy Five Times 0
Jimmy Five Times 1
Jimmy Five Times 2
Jimmy Five Times 3
Jimmy Five Times 4

In [4]:
for i in range(5,12):
    print('Jimmy Five Times ' + str(i))

Jimmy Five Times 5
Jimmy Five Times 6
Jimmy Five Times 7
Jimmy Five Times 8
Jimmy Five Times 9
Jimmy Five Times 10
Jimmy Five Times 11

In [10]:
for i in range(2, 12, 2):
    print('Jimmy Five Times ' + str(i))

Jimmy Five Times 2
Jimmy Five Times 4
Jimmy Five Times 6
Jimmy Five Times 8
Jimmy Five Times 10

In [11]:
for i in range(2, -10, -2):
    print('Jimmy Five Times ' + str(i))

Jimmy Five Times 2
Jimmy Five Times 0
Jimmy Five Times -2
Jimmy Five Times -4
Jimmy Five Times -6
Jimmy Five Times -8

In [10]:
length = 3
asterix = '*'
for i in range(length):
    for j in range(length - i):
        print(' ', end='')
    print(asterix)
    asterix += '**'

   *
  ***
 *****

In [9]:
length = 3
grin = '游때'
spaces = '游땸'
for line in range(length):
    for space in range(length - line):
        print(spaces, end='')
    print(grin)
    grin += '游때游때'

游땸游땸游땸游때
游땸游땸游때游때游때
游땸游때游때游때游때游때